/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

.clear {
  clear: both;
}

body {
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.heading-primary {
  position: relative;
  font-family: var(--secondary-color);
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 1;
}

.heading-primary::after {
  content: "";
  height: 2px;
  width: 55px;
  background-color: var(--yellow);
  position: absolute;
  left: 36%;
  top: 35%;
  z-index: 9;
}

.heading-primary::before {
  content: "";
  height: 2px;
  width: 55px;
  background-color: var(--yellow);
  position: absolute;
  right: 36%;
  top: 35%;
  z-index: 9;
}

.caption-primary {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--secondary-font);
  letter-spacing: 0.1;
  margin-top: 15px;
  margin-bottom: 30px;
}

.title-primary {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  line-height: 1.6rem;
}

.text {
  color: #fff;
  font-size: 0.8rem;
}

.header-top {
  background-color: #fdb813;
}
.header-top .header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}
.header-top .header-main .header-left {
  display: flex;
  align-items: center;
}
.header-top .header-main .header-left li {
  padding-left: 50px;
  font-size: 0.875rem;
}
.header-top .header-main .header-right {
  display: flex;
  align-items: center;
}
.header-top .header-main .header-right a {
  margin-right: 20px;
  color: black;
  font-size: 0.875rem;
}

nav {
  width: 100%;
  background-color: #0d1d31;
}
nav .nav-main {
  display: flex;
  align-items: center;
  color: white;
}
nav .nav-main .logo img {
  height: 30px;
  width: 130px;
}
nav .nav-main .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 50px;
}
nav .nav-main .menu .icon-home {
  padding-left: 30px;
  padding-right: 15px;
}
nav .nav-main .menu .icon-home i {
  color: #fff;
  font-size: 2.3rem;
}
nav .nav-main .menu .icon-home i:hover {
  color: #fdb813;
}
nav .nav-main .menu .menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-main .menu .menu-list .menu-item {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
nav .nav-main .menu .menu-list .menu-item .menu-link {
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
nav .nav-main .menu .menu-list .menu-item .menu-link:hover {
  color: #fdb813;
}
nav .nav-main .menu .icon-search i {
  color: #fff;
  margin-left: 20px;
  font-weight: 300;
}
nav .nav-main .menu .icon-search i:hover {
  color: #fdb813;
}

.slide {
  height: 557px;
  background: url(../img/banner-sliders-1.jpg) top center/cover no-repeat;
}

.about {
  position: relative;
  padding: 100px 0px 100px 80px;
  margin-top: 8px;
}
.about .slide-desc {
  background-color: #fdb813;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1060px;
  height: 99px;
  border-radius: 6px;
  padding: 20px 0 20px;
}
.about .slide-desc .number-desc {
  font-family: "Fester-Bold", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
}
.about .slide-desc .text-desc {
  font-size: 0.875rem;
}
.about .slide-desc .col-md-3 {
  border-right: 2px dotted #000;
}
.about .slide-desc .col-md-3:last-child {
  border: none;
}
.about .about-main {
  width: 1060px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
.about .about-main .about-content {
  padding-left: 60px;
}
.about .about-main .about-content .about-caption {
  position: relative;
  font-family: "Fester-Bold", sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
.about .about-main .about-content .about-caption::after {
  content: "";
  height: 2px;
  width: 49px;
  background-color: #fdb813;
  position: absolute;
  left: 20%;
  top: 44%;
  z-index: 10;
}
.about .about-main .about-content .about-desc p {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: justify;
}
.about .about-main .about-content .about-title {
  color: #fff;
  margin-top: 50px;
  font-size: 1.1rem;
}
.about .about-main .about-content .about-cre {
  margin-top: 20px;
  color: #fff;
  font-size: 1.1rem;
}
.about .about-main .about-img img:first-child {
  border: 5px solid #fff;
}
.about .about-main .about-img .icon-play {
  height: 64px;
  width: 66px;
  border-radius: 99px;
  border: 5px solid white;
  background-color: #fdb813;
  position: relative;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 1.2rem;
}
.about .about-main .about-img .icon-play .fa-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about .about-main .about-img::after {
  content: "";
  height: 253px;
  width: 353px;
  background-color: #263548;
  position: absolute;
  top: 10%;
  left: 7%;
  z-index: -1;
}

.about::after {
  content: "";
  position: absolute;
  top: 0;
  background: #263548;
  opacity: 0.85;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.project {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #293c53;
}
.project .slick-slides {
  position: relative;
}
.project .slick-slides .project-main {
  position: relative;
}
.project .slick-slides .project-main .project-content {
  position: absolute;
  height: 380px;
  width: 500px;
  z-index: 9;
  color: #fff;
  padding: 60px 40px;
  background: #0d1d31;
  margin-top: 65px;
}
.project .slick-slides .project-main .project-content .project-desc {
  color: white;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.project .slick-slides .project-main .project-content .btn-yellow {
  border: none;
  background: linear-gradient(#fdb813, #fd8313);
  border-radius: 0;
  color: #000;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  margin-top: 40px;
  padding: 5px 20px 10px 20px;
}
.project .slick-slides .project-main .project-content .btn-yellow:hover {
  color: #000;
}
.project .slick-slides .project-main .project-img img {
  border: 6px solid #fff;
  max-width: 750px;
  width: 748px;
  object-fit: cover;
  height: 490px;
  float: right;
}
.project .slick-slides .slick-prev {
  position: absolute;
  bottom: -9%;
  left: 7%;
  z-index: 10;
  height: 48px;
  width: 48px;
  border: 0.5px solid #c4c4c4;
  color: #c4c4c4;
  background-color: #263548;
}
.project .slick-slides .slick-next {
  position: absolute;
  bottom: -9%;
  left: 13%;
  z-index: 10;
  height: 48px;
  width: 48px;
  border: 0.5px solid #c4c4c4;
  color: #c4c4c4;
  background-color: #263548;
}
.project .slick-slides .slick-prev:hover {
  background: linear-gradient(#fdb813, #fd8313);
  color: #000;
}
.project .slick-slides .slick-next:hover {
  background: linear-gradient(#fdb813, #fd8313);
  color: #000;
}

/*# sourceMappingURL=app.css.map */
