.header-top{
    background-color: $yellow; 
    .header-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
        
        & .header-left {
            display: flex;
            align-items: center;
            
            li {
                padding-left: 50px;
                font-size: .875rem;
            }
        }
        
        & .header-right {
            display: flex;
            align-items: center;

            a {
                margin-right: 20px;
                color: black;
                font-size: .875rem;
            }
        }

    }
}