$primary-font: 'Lato', sans-serif;
$secondary-font:'Fester-Bold',sans-serif;
$gray: #393e46;
$gray-light: #6a727f;
$gray-dark: #2b3139;
$gray-darker: #222831;
$gray-darkest: #1e242e;
$gray-lighter: #f7f8f9;
$yellow: #fdb813;
$primary-color: #0d1d31;
$secondary-color: #263548;
$gray-white:#475464;
$button-color:linear-gradient(#fdb813,#fd8313);